
<div class="jumbotron text-center">
<div class="container">
  <div class="row">
  <div class="col-sm-4">
  <br>
	<h2>First course</h2>
	<br>

<% @first_course_list.each do |ml|%>
	<div>
		<strong>Course name:</strong> <%= ml.name %>
	</div>
	<div>
		<strong>Price:</strong> <%= number_to_currency(ml.price) %>
	</div>
	<div>
		<%=  image_tag ml.food_image.url(:thumb), :class => "img-rounded" %>
	</div>
	
<% end %>
</div>
<div class="col-sm-4">
	<br>
	<h2>Main course</h2>
	<br>

<% @main_course_list.each do |mcl|%>
	<div>
		<strong>Course name: </strong><%= mcl.name %>
	</div>
	<div>
		<strong>Price:</strong> <%= number_to_currency(mcl.price) %>
	</div>
	<div>
		<%=  image_tag mcl.food_image.url(:thumb), :class => "img-rounded" %>
	</div>
	
<% end %>
</div>
<div class="col-sm-4">
	<br>
	<h2>Drink</h2>
	<br>

<% @drink_list.each do |mcl|%>
	
	<div>
		<strong>Drink:</strong> <%= mcl.name %>
	</div>
	<div>
		<strong>Price:</strong> <%= number_to_currency(mcl.price) %>
	</div>
	<div>
		<%=  image_tag mcl.food_image.url(:thumb), :class => "img-rounded" %>
	</div>

	
<% end %>
</div>

</div>
</div>

<% if @menu.date == Date.today && current_user.role_id == 1 %>
	<%= link_to 'Add first course to menu', new_menu_first_course_item_path(@menu) %>
<% end %>
<br>
<% if @menu.date == Date.today && current_user.role_id == 1 %>
	<%= link_to 'Add main course to menu', new_menu_main_course_item_path(@menu) %>
<% end %>
<br>
<% if @menu.date == Date.today && current_user.role_id == 1 %>
	<%= link_to 'Add drink to menu', new_menu_drink_item_path(@menu) %>
<% end %>
<br>
<% if @menu.date == Date.today %>
<%= link_to 'New order', new_user_order_path(@order) %>
<% end %>
</div>