<br>
<br>
<div class="jumbotron text-center">
	<%= link_to user_order_index_path(for_date: "#{@menu_date - 1.day}") do %>
		<span class="glyphicon glyphicon-chevron-left"></span>
	<% end -%>
	<strong>All orders on <%= "#{@menu_date.strftime("%B, %d")}" %></strong>
		<%= link_to user_order_index_path(for_date: "#{@menu_date + 1.day}") do %>
	<span class="glyphicon glyphicon-chevron-right"></span>
	<% end -%>
</div>
<% unless @orders.empty? %>
<table class="table table-striped table-hover">	
	<thead>
		<tr> 
			<th>User name</th>
			<th>First couse name</th>
			<th>First couse price</th>
			<th>Main couse name</th>
			<th>Main couse price</th>
			<th>Drink name</th>
			<th>Drink price</th>
			<th>Lunch cost</th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |o| %>
			<% @total = 0 %>
			<tr>
				<td>
					<%= o.order_owner %>
				</td>
				<td>
					<%= o.first_course_item.name %>
				</td>
				<td>
					<%= number_to_currency(o.first_course_item.price) %>
					<% @total += o.first_course_item.price %>
					<% @total_all += o.first_course_item.price %>
				</td>
				
				<td>
					<%= o.main_course_item.name %>
					
				</td>

				<td>
					<%= number_to_currency(o.main_course_item.price) %>
					<% @total += o.main_course_item.price %>
					<% @total_all += o.main_course_item.price %>
				</td>
				<td>
					<%= o.drink_item.name %>
				</td>
				<td>
					<%= number_to_currency(o.drink_item.price) %>
					<% @total += o.drink_item.price %>
					<% @total_all += o.drink_item.price %>
				</td>
				<td>
				
				<%= number_to_currency(@total) %>
				</td>
				<% end -%>
			</tr>
		
		<th>
			Total:			
			<%= number_to_currency(@total_all) %>
		</th>
	</tbody>
</table>
<% end -%>