
<%= form_for @main_course_item, :url => { :action => "create" } do |ml| %>
<div>
	<%= ml.label :name %>
	<%= ml.text_field :name %>
</div>
<div>
	<%= ml.label :price %>
	<%= ml.text_field :price %>
</div>
<div>
	<%= ml.label :food_image, "Image" %>
	<%= ml.file_field :food_image %>
</div>

<div>
    <%= ml.submit %>
</div>

<% end %>